:root {
    --SteelPink: #d123e1 0%;
    --BrightLilac: #d18aea 26%;
    --Soap: #d0c2f4 39%;
    --Water: #CEECFD 50%;
    --PaleCornflowerBlue: #a9c8f4 61%;
    --VistaBlue: #7b9eea 74%;
    --CelticBlue: #2362e1 100%;
    --VividViolet: #a509ff 0%;
    --Moonstone: #34acc7 53.65%;
    --DarkOrchid: #a134c7 100%;
    --ElectricBlue: #7aebfb;
    --CadmiumViolet: #8D39A3;
    --MayaBlue: #65c4fa;
}