:root {
    --SteelPink: #d123e1;
    --BrightLilac: #d18aea;
    --Soap: #d0c2f4;
    --Water: #CEECFD;
    --PaleCornflowerBlue: #a9c8f4;
    --VistaBlue: #7b9eea;
    --CelticBlue: #2362e1;
    --VividViolet: #a509ff;
    --Moonstone: #34acc7;
    --DarkOrchid: #a134c7;
    --ElectricBlue: #7aebfb;
    --CadmiumViolet: #8D39A3;
    --MayaBlue: #65c4fa;
}