@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html {
    scroll-behavior: smooth;
    font-family: 'Eudoxus Sans', sans-serif;
}

.stamp-cta-bottom {
  transform: translate(270.2px, 173.79px);
  rotate: -20.18deg;
}

.gradient-01 {
    background-image: linear-gradient(
      270deg,
      var(--SteelPink),
      var(--BrightLilac),
      var(--Soap),
      var(--Water),
      var(--PaleCornflowerBlue),
      var(--VistaBlue),
      var(--CelticBlue)
    );
    filter: blur(125px);
  }
  
  .hero-gradient {
    background: linear-gradient(
      97.86deg,
      var(--VividViolet),
      var(--Moonstone),
      var(--DarkOrchid)
    );
  }

  .circular-CTA {
    filter: drop-shadow(0px 4px 120px rgba(0, 0, 0, 0.25));
  }

  .background-blur-top {
    position: absolute;
    width: 197px;
    height: 408px;
    right: 438px;
    top: -382px;
    background: #CFECFD;
    filter: blur(100px);
    transform: rotate(-50.43deg);
  }
  
  .gradient-02 {
    position: absolute;
    width: 200px;
    height: 438px;
    top: 0px;
    right: 0px;
    background: var(--ElectricBlue);
    filter: blur(190px);
  }
  
  .glassmorphism {
    background: #ffffff40;
    box-shadow: 0 8px 32px 0 #1f26875e;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid #ffffff2e;
  }
  
  .gradient-03 {
    position: absolute;
    width: 404px;
    height: 800px;
    left: 25%;
    top: 60%;
    background: #9542e859;
    filter: blur(175px);
    transform: rotate(-114.2deg);
  }
  
  .gradient-04 {
    position: absolute;
    width: 304px;
    height: 100vh;
    left: 30%;
    top: 10%;
  
    background: #2d4898bf;
    filter: blur(200px);
    transform: rotate(-53.13deg);
  }
  
  .gradient-05 {
    background: linear-gradient(
      180deg,
      #ffffff0a 0%,
      #ffffff00 100%
    );
  }
  
  .feedback-gradient {
    position: absolute;
    width: 200px;
    height: 316px;
    left: 0px;
    top: 0px;
    background: var(--CadmiumViolet);
    filter: blur(175px);
  }
  
  .footer-gradient {
    position: absolute;
    width: 500px;
    height: 100px;
    left: 37%;
    bottom: 0;
    background: var(--MayaBlue);
    filter: blur(150px);
  }
  